footer {
    height: 10rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: solid 2px var(--secondary-color);
    background-color: var(--surface-color);
}

footer nav {
    width: max-content;
}

footer nav a {
    color: #ECF0F1;
    margin: 0px 1rem;
    height: 2rem;
    font-family: var(--mono-font);
}

footer nav a:hover {
    border-bottom: solid 3px var(--primary-color);
}
