header {
    background-color: var(--surface-color);
    height: 60px;
    position: sticky;
    top: 0px;
}

/*Right Side*/
nav {
    height: 100%;
    width: 80%;
}

.nav-link {
    height: 100%;
}

.nav-link a {
    color: #ECF0F1;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 2%;
    padding: 1% 2%;
    font-family: var(--mono-font);
}

.nav-link a:hover {
    border-bottom: solid 2px var(--primary-color);
}

/*Hamburger button*/
.nav-btn span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #ECF0F1;
    margin: 6px auto;
}

#nav-check, .nav-btn {
    display: none;
}
