/*Variables*/
:root {
    --primary-color: #1ABC9C;       /* Teal */
    --secondary-color: #16A085;     /* Darker Teal */
    --neutral-color: #2C3E50;       /* Dark Slate */
    --background-color: #ececec;    /* Light Gray */
    --surface-color: #34495E;       /* Dark Gray/Teal Accent */

    --mono-font: 'Roboto Mono', monospace;
    --sans-font: 'DM Sans', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Global Style*/
html {
    background-color: var(--background-color);
    font-size: 14px;
}

* {
    font-family: var(--mono-font);
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

/*Text Style*/
h1 {
    color: var(--neutral-color);
    font-size: 2rem; 
    text-transform: uppercase;
}

h2 {
    color: var(--primary-color);
    font-weight: 500;
    letter-spacing: 0.06rem;
    font-size: 1.8rem;
}

p {
    color: var(--neutral-color);
    font-size: 1.1rem;
}

.text-label { 
    color: white;
    background-color: var(--secondary-color);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    cursor: initial;
}
